@mixin reset-css {
  margin: 0;
  padding: 0;

  font-size: 100%;
  vertical-align: baseline;

  background: transparent;
  border: 0;
  outline: 0;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin fixed-size($width, $height) {
  @include size($width, $height);

  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin grid($column, $row) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  grid-template-rows: repeat($row, 1fr);
}

@mixin max-lines($length) {
  overflow: hidden;
  display: -webkit-box;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $length;
}

/* Font - Bebas Neue */

@mixin font-bebasneue($type) {
  font-family: BebasNeue, sans-serif;
  font-weight: 500;
  font-style: normal;

  @if ($type == h1) {
    font-size: 93px;
  }

  @if ($type == h2) {
    font-size: 58px;
  }

  @if ($type == h3) {
    font-size: 47px;
  }

  @if ($type == h4) {
    font-size: 33px;
  }

  @if ($type == h5) {
    font-size: 23px;
  }

  @if ($type == h6) {
    font-size: 19px;
  }

  @if ($type == body1) {
    font-size: 16px;
  }

  @if ($type == body2) {
    font-size: 14px;
  }

  @if ($type == subtitle1) {
    font-size: 16px;
  }

  @if ($type == subtitle2) {
    font-size: 14px;
  }

  @if ($type == caption) {
    font-size: 12px;
  }

  @if ($type == overline) {
    font-size: 10px;
  }
}

@mixin bebasneue-h1{
  @include font-bebasneue(h1);
}
@mixin bebasneue-h2{
  @include font-bebasneue(h2);
}
@mixin bebasneue-h3{
  @include font-bebasneue(h3);
}
@mixin bebasneue-h4{
  @include font-bebasneue(h4);
}
@mixin bebasneue-h5{
  @include font-bebasneue(h5);
}
@mixin bebasneue-h6{
  @include font-bebasneue(h6);
}
@mixin bebasneue-body1{
  @include font-bebasneue(body1);
}
@mixin bebasneue-body2{
  @include font-bebasneue(body2);
}
@mixin bebasneue-subtitle1{
  @include font-bebasneue(subtitle1);
}
@mixin bebasneue-subtitle2{
  @include font-bebasneue(subtitle2);
}
@mixin bebasneue-caption{
  @include font-bebasneue(caption);
}
@mixin bebasneue-overline{
  @include font-bebasneue(overline);
}

/* Font - Inter */

@mixin font-inter($type, $weight) {
  font-family: Inter, sans-serif;
  font-weight: $weight;
  font-style: normal;

  @if ($type == h1) {
    font-size: 93px;
  }

  @if ($type == h2) {
    font-size: 58px;
  }

  @if ($type == h3) {
    font-size: 47px;
  }

  @if ($type == h4) {
    font-size: 33px;
  }

  @if ($type == h5) {
    font-size: 23px;
  }

  @if ($type == h6) {
    font-size: 19px;
  }

  @if ($type == body1) {
    font-size: 16px;
  }

  @if ($type == body2) {
    font-size: 14px;
  }

  @if ($type == subtitle1) {
    font-size: 16px;
  }

  @if ($type == subtitle2) {
    font-size: 14px;
  }

  @if ($type == caption) {
    font-size: 12px;
  }

  @if ($type == overline) {
    font-size: 10px;
  }
}

@mixin inter-h1-extralight {
  @include font-inter(h1, 200);
}

@mixin inter-h1-regular {
  @include font-inter(h1, 400);
}

@mixin inter-h1-medium {
  @include font-inter(h1, 500);
}

@mixin inter-h1-bold {
  @include font-inter(h1, 700);
}

@mixin inter-h2-extralight {
  @include font-inter(h2, 200);
}

@mixin inter-h2-regular {
  @include font-inter(h2, 400);
}

@mixin inter-h2-medium {
  @include font-inter(h2, 500);
}

@mixin inter-h2-bold {
  @include font-inter(h2, 700);
}

@mixin inter-h3-extralight {
  @include font-inter(h3, 200);
}

@mixin inter-h3-regular {
  @include font-inter(h3, 400);
}

@mixin inter-h3-medium {
  @include font-inter(h3, 500);
}

@mixin inter-h3-bold {
  @include font-inter(h3, 700);
}

@mixin inter-h4-extralight {
  @include font-inter(h4, 200);
}

@mixin inter-h4-regular {
  @include font-inter(h4, 400);
}

@mixin inter-h4-medium {
  @include font-inter(h4, 500);
}

@mixin inter-h4-bold {
  @include font-inter(h4, 700);
}

@mixin inter-h5-extralight {
  @include font-inter(h5, 200);
}

@mixin inter-h5-regular {
  @include font-inter(h5, 400);
}

@mixin inter-h5-medium {
  @include font-inter(h5, 500);
}

@mixin inter-h5-bold {
  @include font-inter(h5, 700);
}

@mixin inter-h6-extralight {
  @include font-inter(h6, 200);
}

@mixin inter-h6-regular {
  @include font-inter(h6, 400);
}

@mixin inter-h6-medium {
  @include font-inter(h6, 500);
}

@mixin inter-h6-bold {
  @include font-inter(h6, 700);
}

@mixin inter-subtitle1 {
  @include font-inter(subtitle1, 600);
}

@mixin inter-subtitle2 {
  @include font-inter(subtitle2, 500);
}

@mixin inter-body1 {
  @include font-inter(body1, 400);
}

@mixin inter-body2 {
  @include font-inter(body2, 400);
}

@mixin inter-caption {
  @include font-inter(caption, 400);
}

@mixin inter-overline {
  @include font-inter(overline, 400);
}
