/* Breakpoints */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* Colors */

$neutral-white: #fff;
$neutral-black: #000;

$modern-gray: #b6bbc4;
$modern-gray-dark: #7e8792;
$modern-gray-light: #d8dce3;

$framer-blue: #86b6f6;
$framer-blue-dark: #5e8bf6;
$framer-blue-light: #b3d4ff;

$power-orange: #ff9800;
$power-orange-dark: #f57c00;
$power-orange-light: #ffb74d;

$boost-red: #9a031e;
$boost-red-dark: #6a0015;
$boost-red-light: #c4002f;
